<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>人-天山雪.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-28}</string>
                <key>spriteSize</key>
                <string>{84,129}</string>
                <key>spriteSourceSize</key>
                <string>{140,185}</string>
                <key>textureRect</key>
                <string>{{1213,1},{84,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-子桑.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-20}</string>
                <key>spriteSize</key>
                <string>{80,121}</string>
                <key>spriteSourceSize</key>
                <string>{126,161}</string>
                <key>textureRect</key>
                <string>{{1,172},{80,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-慕容.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{101,149}</string>
                <key>spriteSourceSize</key>
                <string>{121,181}</string>
                <key>textureRect</key>
                <string>{{519,1},{101,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-易水寒.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-24}</string>
                <key>spriteSize</key>
                <string>{73,147}</string>
                <key>spriteSourceSize</key>
                <string>{133,195}</string>
                <key>textureRect</key>
                <string>{{622,1},{73,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-朱邪铁勒.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-20}</string>
                <key>spriteSize</key>
                <string>{83,160}</string>
                <key>spriteSourceSize</key>
                <string>{141,200}</string>
                <key>textureRect</key>
                <string>{{360,1},{83,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-潇湘.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-28}</string>
                <key>spriteSize</key>
                <string>{72,153}</string>
                <key>spriteSourceSize</key>
                <string>{142,209}</string>
                <key>textureRect</key>
                <string>{{445,1},{72,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-红蔷.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-18}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,173}</string>
                <key>textureRect</key>
                <string>{{551,152},{97,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-迦楼.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-24}</string>
                <key>spriteSize</key>
                <string>{73,146}</string>
                <key>spriteSourceSize</key>
                <string>{125,194}</string>
                <key>textureRect</key>
                <string>{{697,1},{73,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙-夜蛟.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-23}</string>
                <key>spriteSize</key>
                <string>{104,115}</string>
                <key>spriteSourceSize</key>
                <string>{142,161}</string>
                <key>textureRect</key>
                <string>{{690,150},{104,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-曼珠沙华.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-13}</string>
                <key>spriteSize</key>
                <string>{116,165}</string>
                <key>spriteSourceSize</key>
                <string>{152,191}</string>
                <key>textureRect</key>
                <string>{{75,1},{116,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙-武尊神.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-27}</string>
                <key>spriteSize</key>
                <string>{61,138}</string>
                <key>spriteSourceSize</key>
                <string>{133,192}</string>
                <key>textureRect</key>
                <string>{{853,1},{61,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙-水玲珑.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-28}</string>
                <key>spriteSize</key>
                <string>{79,142}</string>
                <key>spriteSourceSize</key>
                <string>{139,198}</string>
                <key>textureRect</key>
                <string>{{772,1},{79,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙-玄天姬.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-20}</string>
                <key>spriteSize</key>
                <string>{95,131}</string>
                <key>spriteSourceSize</key>
                <string>{135,171}</string>
                <key>textureRect</key>
                <string>{{807,145},{95,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-画魂.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-19}</string>
                <key>spriteSize</key>
                <string>{78,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,171}</string>
                <key>textureRect</key>
                <string>{{1066,1},{78,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙-皮影仙.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{113,130}</string>
                <key>spriteSourceSize</key>
                <string>{123,152}</string>
                <key>textureRect</key>
                <string>{{940,140},{113,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-蝶翼.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-21}</string>
                <key>spriteSize</key>
                <string>{90,137}</string>
                <key>spriteSourceSize</key>
                <string>{144,179}</string>
                <key>textureRect</key>
                <string>{{282,163},{90,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-媚灵狐.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-24}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{421,163},{86,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-密罗.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-28}</string>
                <key>spriteSize</key>
                <string>{65,130}</string>
                <key>spriteSourceSize</key>
                <string>{133,186}</string>
                <key>textureRect</key>
                <string>{{1146,1},{65,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-杀破狼.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-18}</string>
                <key>spriteSize</key>
                <string>{72,163}</string>
                <key>spriteSourceSize</key>
                <string>{126,199}</string>
                <key>textureRect</key>
                <string>{{193,1},{72,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-澹台却邪.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-15}</string>
                <key>spriteSize</key>
                <string>{91,160}</string>
                <key>spriteSourceSize</key>
                <string>{127,190}</string>
                <key>textureRect</key>
                <string>{{267,1},{91,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-牵小牛.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-25}</string>
                <key>spriteSize</key>
                <string>{74,134}</string>
                <key>spriteSourceSize</key>
                <string>{126,184}</string>
                <key>textureRect</key>
                <string>{{990,1},{74,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-狐不归.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-26}</string>
                <key>spriteSize</key>
                <string>{77,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,178}</string>
                <key>textureRect</key>
                <string>{{1299,1},{77,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-钟离.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-27}</string>
                <key>spriteSize</key>
                <string>{77,118}</string>
                <key>spriteSourceSize</key>
                <string>{139,172}</string>
                <key>textureRect</key>
                <string>{{1072,136},{77,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-青衫隐隐.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-22}</string>
                <key>spriteSize</key>
                <string>{72,169}</string>
                <key>spriteSourceSize</key>
                <string>{154,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>巫-海王.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-28}</string>
                <key>spriteSize</key>
                <string>{72,137}</string>
                <key>spriteSourceSize</key>
                <string>{152,193}</string>
                <key>textureRect</key>
                <string>{{916,1},{72,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>巫-火薇.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-23}</string>
                <key>spriteSize</key>
                <string>{85,129}</string>
                <key>spriteSourceSize</key>
                <string>{143,175}</string>
                <key>textureRect</key>
                <string>{{1151,133},{85,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-西冷曲娘.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-18}</string>
                <key>spriteSize</key>
                <string>{86,156}</string>
                <key>spriteSourceSize</key>
                <string>{126,192}</string>
                <key>textureRect</key>
                <string>{{124,168},{86,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-酒未央.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-28}</string>
                <key>spriteSize</key>
                <string>{75,125}</string>
                <key>spriteSourceSize</key>
                <string>{145,181}</string>
                <key>textureRect</key>
                <string>{{1299,129},{75,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>角色名字.png</string>
            <key>size</key>
            <string>{1377,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d6624eb1be96d9548ede4845279971:8116b1a53303d8fbb9e54844181ffe9f:2619d66f8465b00cd2183a4213b4f84a$</string>
            <key>textureFileName</key>
            <string>角色名字.png</string>
        </dict>
    </dict>
</plist>
