<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>人-天山雪0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{114,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-天山雪1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{90,248}</string>
                <key>spriteSourceSize</key>
                <string>{114,272}</string>
                <key>textureRect</key>
                <string>{{251,645},{90,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-子桑0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{213,1},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-子桑1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{84,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,470},{84,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-慕容0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{425,1},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-慕容1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{90,250}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{501,687},{90,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-易水寒0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{849,1},{63,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-易水寒1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{91,254}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{505,871},{91,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-朱邪铁勒0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{914,1},{63,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人-朱邪铁勒1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-13}</string>
                <key>spriteSize</key>
                <string>{91,246}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{761,871},{91,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-潇湘0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{113,272}</string>
                <key>textureRect</key>
                <string>{{1,321},{63,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-潇湘1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-12}</string>
                <key>spriteSize</key>
                <string>{87,248}</string>
                <key>spriteSourceSize</key>
                <string>{113,272}</string>
                <key>textureRect</key>
                <string>{{491,556},{87,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-红蔷0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{113,272}</string>
                <key>textureRect</key>
                <string>{{213,321},{63,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-红蔷1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{95,254}</string>
                <key>spriteSourceSize</key>
                <string>{113,272}</string>
                <key>textureRect</key>
                <string>{{499,964},{95,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-迦楼0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{113,272}</string>
                <key>textureRect</key>
                <string>{{425,321},{63,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>人-迦楼1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{95,240}</string>
                <key>spriteSourceSize</key>
                <string>{113,272}</string>
                <key>textureRect</key>
                <string>{{257,963},{95,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-夜蛟0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{637,1},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-夜蛟1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{84,240}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{761,425},{84,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-曼珠沙华0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,65},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-曼珠沙华1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{82,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,386},{82,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-武尊神0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{213,65},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-武尊神1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{90,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{753,687},{90,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-水玲珑0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{425,65},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-水玲珑1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{90,250}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{243,737},{90,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-玄天姬0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{637,65},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-玄天姬1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-10}</string>
                <key>spriteSize</key>
                <string>{90,252}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{495,779},{90,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-画魂0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,129},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-画魂1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{84,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{257,470},{84,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-皮影仙0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{213,129},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-皮影仙1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-13}</string>
                <key>spriteSize</key>
                <string>{86,246}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{243,556},{86,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-蝶翼0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{425,129},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>仙-蝶翼1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{90,240}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,734},{90,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-媚灵狐0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{637,129},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-媚灵狐1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{84,240}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{513,470},{84,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-密罗0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,193},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-密罗1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{90,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{749,779},{90,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-杀破狼0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{213,193},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-杀破狼1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{90,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,829},{90,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-澹台却邪0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{425,193},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-澹台却邪1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{82,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{257,386},{82,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-牵小牛0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{637,193},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-牵小牛1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-13}</string>
                <key>spriteSize</key>
                <string>{82,246}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{513,386},{82,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-狐不归0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,257},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-狐不归1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{90,246}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{257,871},{90,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-钟离0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{637,321},{63,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-钟离1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{91,254}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{1,921},{91,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妖-青衫隐隐0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{111,272}</string>
                <key>textureRect</key>
                <string>{{849,213},{63,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖-青衫隐隐1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{85,240}</string>
                <key>spriteSourceSize</key>
                <string>{111,272}</string>
                <key>textureRect</key>
                <string>{{1,556},{85,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-海王0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{213,257},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-海王1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{88,250}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{741,597},{88,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-火薇0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{914,213},{63,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>巫-火薇1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{99,246}</string>
                <key>spriteSourceSize</key>
                <string>{117,272}</string>
                <key>textureRect</key>
                <string>{{755,964},{99,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-西冷曲娘0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{425,257},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-西冷曲娘1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{84,240}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{755,511},{84,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-酒未央0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,210}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{637,257},{62,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫-酒未央1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{88,248}</string>
                <key>spriteSourceSize</key>
                <string>{108,272}</string>
                <key>textureRect</key>
                <string>{{1,644},{88,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>角色选择.png</string>
            <key>size</key>
            <string>{1008,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49dea4b38c3f89881c1c94412fc75e4c:a765f7718174f6754644c98bf210846a:b70c373bcf1086a728c076c67086476f$</string>
            <key>textureFileName</key>
            <string>角色选择.png</string>
        </dict>
    </dict>
</plist>
