<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>人族0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{164,1},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>人族1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙族0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{164,67},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>仙族1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{1,83},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖族0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{164,133},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>妖族1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{82,1},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫族0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{82,163},{63,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>巫族1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{82,82},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>选择种族.png</string>
            <key>size</key>
            <string>{228,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5af872548ee3a3236ec7d5242871872:2b874536596feba94199555e4d411869:a9166c48802df631afd9c58a024d46ad$</string>
            <key>textureFileName</key>
            <string>选择种族.png</string>
        </dict>
    </dict>
</plist>
